<ol class="breadcrumb" style="margin-top: 20px">
  <li><%= link_to 'Назад', test_path(@question.test_id) %></li>
  <li class="active"><%= @question.name %></li>
</ol>

<div class="row">
  <div class="col-sm-12">
    <h1>
      <%= @question.name %> <%= link_to 'New Answer', new_answers_path(@question.id), class: 'btn btn-success' %></h1>
  </div>
</div>

<hr/>

<table class="table table-striped">
  <tr>
    <th>Answers</th>
    <th>Is correct</th>
    <th>Actions</th>
  </tr>
  <% @answers.each do |answer| %>
      <tr>
        <td><%= answer.name %></td>
        <td>Is correct</td>
        <td>
          <%= link_to 'Edit', ''  %>
          <%= link_to 'Delete', '',
                      method: :delete,
                      data: {confirm: 'Do you want to remove this question?'} %>
        </td>
      </tr>
  <% end %>

</table>