<div class="row">
  <div class="col-sm-12">
    <h1>Tests <%= link_to 'New Test', new_test_path, class: 'btn btn-success' %></h1>
  </div>
</div>

<hr/>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Link</th>
    <th>Questions#</th>
    <th>Results#</th>
    <th>Actions</th>
  </tr>
  <% @tests.each do |test| %>
      <% @questions_counter = Question.where(test_id: test.id).count %>
      <tr>
        <td><%= link_to test.name, test_path(test) %></td>
        <td><%= link_to  'Link', new_result_path(test) %></td>
        <td><%= @questions_counter %></td>
        <td><%= link_to 'Results', result_path(test) %></td>
        <td>
          <%= link_to 'Edit', edit_test_path(test)%>
          <%= link_to 'Delete', test_path(test),
                      method: :delete,
                      data: {confirm: 'Do you want to remove this test?'} %>
        </td>
      </tr>
  <% end %>

</table>
