<ol class="breadcrumb" style="margin-top: 20px">
  <li><%= link_to 'Назад', root_path %></li>
  <li class="active"><%= @test.name %></li>
  <li class="active">Questions</li>
</ol>

<div class="row">
  <div class="col-sm-12">
    <h1>
      <%= @test.name %> <%= link_to 'New Question', new_question_path(@test), class: 'btn btn-success' %></h1>
  </div>
</div>

<hr/>

<table class="table table-striped">
  <tr>
    <th>Questions</th>
    <th>Answers</th>
    <th>Actions</th>
  </tr>
  <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.name, question_path(question) %></td>
        <% counter = Answer.where(question_id: question.id).count %>
        <td><%= link_to counter, question_path(@test.id) %></td>
        <td>
          <%= link_to 'Edit', edit_question_path(question, @test.id)  %>
          <%= link_to 'Delete', question_path(question, @test.id),
                      method: :delete,
                      data: {confirm: 'Do you want to remove this question?'} %>
        </td>
      </tr>
  <% end %>

</table>